* {
    transition: 300ms;
}

body {
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
    height: 125px;
    background-color: whitesmoke;
    box-shadow: 0 0 5px 0px #000;
}

h1 {
    font-family: 'Bradley Hand ITC';
    font-size: 45px;
    font-style: italic;
    margin: 0;
    margin-top: 30px;
    margin-left: 40px;
    color: rgb(50, 100, 255);
    cursor: default;
}

sub {
    margin-left: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-style: italic;
    cursor: default;
}

nav {
    position: fixed;
    top: 35px;
    left: 570px;
}

.nav-options {
    display: inline-flex;
    gap: 25px;
    list-style: none;
}

.home, 
.about, 
.skills {
    color: #000;
    text-decoration: none;
    padding: 25px 50px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
}

.projects, 
.contact {
    color: #000;
    text-decoration: none;
    padding: 25px 38px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
}

.projects {
    font-weight: bold;
}

.home:hover, 
.about:hover, 
.projects:hover, 
.skills:hover, 
.contact:hover {
    border: 1px solid gray;
    box-shadow: 7px 7px 5px 0px gray;
}

.my-links {
    position: fixed;
    top: 30px;
    right: 40px;
    display: inline-flex;
    gap: 10px;
    list-style: none;
}

.linkedin, 
.x, 
.instagram, 
.facebook, 
.github-link { 
    height: 30px;
    width: 30px;
    border-radius: 5px;
}

.main {
    height: auto;
}

.main img {
    width: 100%;
    height: 700px;
    margin-top: 125px;
    object-fit: cover;
}

.shine-txt {
    margin-top: -70px;
    margin-left: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.portfolio {
    background-color: whitesmoke;
    width: 900px;
    margin-top: 90px;
    justify-self: center;
    border-radius: 30px;
    box-shadow: 0 0 5px 0px gray;
}

.ahead-txt {
    background-color: gray;
    padding: 15px;
    margin-top: 0;
    margin: 0;
    text-align: center;
    font-size: 19px;
    color: #fff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.portfolio img {
    width: 100%;
    height: 450px;
    display: block;
    margin-top: 0px;
    margin: 0 auto;
    object-fit: cover;
}

.description {
    background-color: gray;
    padding: 15px 15px 70px 15px;
    margin-top: 0;
    text-align: center;
    font-size: 17px;
    color: #fff;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.source-code-btn {
    padding: 10px 30px 10px 30px;
    float: left;
    margin-top: 15px;
    border-radius: 30px;
    text-decoration: none;
    color: #000;
    background-color: white;
    box-shadow: 0 0 5px #000;
}

.calculator-web {
    background-color: whitesmoke;
    width: 900px;
    justify-self: center;
    border-radius: 30px;
    box-shadow: 0 0 5px 0px gray;
}

.ahead-txt {
    background-color: gray;
    padding: 15px;
    margin-top: 0;
    margin: 0;
    text-align: center;
    font-size: 19px;
    color: #fff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.calculator-web img {
    width: 100%;
    height: 428px;
    display: block;
    margin-top: 0px;
    margin: 0 auto;
    object-fit: cover;
}

.description {
    background-color: gray;
    padding: 15px 15px 70px 15px;
    margin-top: 0;
    text-align: center;
    font-size: 17px;
    color: #fff;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.source-code-btn {
    padding: 10px 30px 10px 30px;
    float: left;
    margin-top: 15px;
    border-radius: 30px;
    text-decoration: none;
    color: #000;
    background-color: white;
    box-shadow: 0 0 5px #000;
}

.visit-site-btn {
    padding: 10px 30px 10px 30px;
    float: right;
    margin-top: 15px;
    border-radius: 30px;
    text-decoration: none;
    color: #000;
    background-color: white;
    box-shadow: 0 0 5px #000;
}

footer {
    width: 100%;
    bottom: 0;
    padding: 15px 0px 15px 0px;
    justify-self: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: #000;
    color: #fff;
}