body {
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
    height: 125px;
    background-color: whitesmoke;
    box-shadow: 0 0 5px 0px #000;
}

h1 {
    font-family: 'Bradley Hand ITC';
    font-size: 45px;
    font-style: italic;
    margin: 0;
    margin-top: 30px;
    margin-left: 40px;
    color: rgb(50, 100, 255);
    cursor: default;
}

sub {
    margin-left: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-style: italic;
    cursor: default;
}

nav {
    position: fixed;
    top: 35px;
    left: 570px;
}

.nav-options {
    display: inline-flex;
    gap: 25px;
    list-style: none;
}

.home, 
.about, 
.skills {
    color: #000;
    text-decoration: none;
    padding: 25px 50px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    transition: 300ms;
}

.home {
    font-weight: bold;
}

.projects, 
.contact {
    color: #000;
    text-decoration: none;
    padding: 25px 38px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    transition: 300ms;
}

.home:hover, 
.about:hover, 
.projects:hover, 
.skills:hover, 
.contact:hover {
    color: rgb(50, 100, 255);
    border: 1px solid rgb(50, 100, 255);
    box-shadow: 7px 7px 0px 0px rgb(50, 100, 255);
}

.my-links {
    position: fixed;
    top: 30px;
    right: 40px;
    display: inline-flex;
    gap: 10px;
    list-style: none;
}

.linkedin, 
.x, 
.instagram, 
.facebook, 
.github-link { 
    height: 30px;
    width: 30px;
    border-radius: 5px;
}