body {
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
    height: 125px;
    background-color: whitesmoke;
    box-shadow: 0 0 5px 0px #000;
}

h1 {
    font-family: 'Bradley Hand ITC';
    font-size: 45px;
    font-style: italic;
    margin: 0;
    margin-top: 30px;
    margin-left: 40px;
    color: rgb(50, 100, 255);
    cursor: default;
}

sub {
    margin-left: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-style: italic;
    cursor: default;
}

nav {
    position: fixed;
    top: 35px;
    left: 570px;
}

.nav-options {
    display: inline-flex;
    gap: 25px;
    list-style: none;
}

.home, 
.about, 
.skills {
    color: #000;
    text-decoration: none;
    padding: 25px 50px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    transition: 300ms;
}

.projects, 
.contact {
    color: #000;
    text-decoration: none;
    padding: 25px 38px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    transition: 300ms;
}

.contact {
    font-weight: bold;
}

.home:hover, 
.about:hover, 
.projects:hover, 
.skills:hover, 
.contact:hover {
    color: rgb(50, 100, 255);
    border: 1px solid rgb(50, 100, 255);
    box-shadow: 7px 7px 0px 0px rgb(50, 100, 255);
}

.my-links {
    position: fixed;
    top: 30px;
    right: 40px;
    display: inline-flex;
    gap: 10px;
    list-style: none;
}

.linkedin, 
.x, 
.instagram, 
.facebook, 
.github-link { 
    height: 30px;
    width: 30px;
    border-radius: 5px;
}

#contact {
    position: relative;
    top: 190px;
    width: 50%;
    padding-top: 30px;
    padding-bottom: 15px;
    justify-self: center;
    justify-items: center;
    align-items: center;
    border-radius: 30px;
    background-color: whitesmoke;
    transition: 200ms;
    box-shadow: 0 0 4px 1px #000;
}

#contact:hover {
    border: 2px solid rgb(50, 100, 255);
    box-shadow: 7px 7px 0px 0px rgb(50, 100, 255);
}

.dawud-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
    border: 2.5px solid #000;
    box-shadow: 0 0 5px 0px #000;
}

.dawud-name {
    margin: 20px 0 0 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 40px;
    cursor: default;
}

.career {
    margin: 5px 0 0 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    font-style: italic;
    cursor: default;
}

.contact-links {
    list-style: none;
    display: flex;
    padding: 0;
    margin-top: 25px;
    gap: 20px;
}

.mail {
    display: flex;
    margin-top: 220px;
    justify-self: center;
    justify-content: center;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 20px;
    border-radius: 30px;
    border: 0;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: rgb(50, 100, 255);
    color: #fff;
    transition: 300ms;
    border: 2px solid #000;
    text-decoration: none;
}

.mail:hover {
    box-shadow: 7px 7px 0px 0px #000;
}

footer {
    position: absolute;
    bottom: 0;
    justify-self: center;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}