body {
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
    height: 125px;
    background-color: whitesmoke;
    box-shadow: 0 0 5px 0px #000;
}

h1 {
    font-family: 'Bradley Hand ITC';
    font-size: 45px;
    font-style: italic;
    margin: 0;
    margin-top: 30px;
    margin-left: 40px;
    color: rgb(50, 100, 255);
    cursor: default;
}

sub {
    margin-left: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-style: italic;
    cursor: default;
}

nav {
    position: fixed;
    top: 35px;
    left: 570px;
}

.nav-options {
    display: inline-flex;
    gap: 25px;
    list-style: none;
}

.home, 
.about, 
.skills {
    color: #000;
    text-decoration: none;
    padding: 25px 50px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    transition: 300ms;
}

.skills {
    font-weight: bold;
}

.projects, 
.contact {
    color: #000;
    text-decoration: none;
    padding: 25px 38px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    transition: 300ms;
}

.home:hover, 
.about:hover, 
.projects:hover, 
.skills:hover, 
.contact:hover {
    color: rgb(50, 100, 255);
    border: 1px solid rgb(50, 100, 255);
    box-shadow: 7px 7px 0px 0px rgb(50, 100, 255);
}

.my-links {
    position: fixed;
    top: 30px;
    right: 40px;
    display: inline-flex;
    gap: 10px;
    list-style: none;
}

.linkedin, 
.x, 
.instagram, 
.facebook, 
.github-link { 
    height: 30px;
    width: 30px;
    border-radius: 5px;
}

#skills {
    display: block;
}

.skills-bg {
    margin-top: 125px;
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.skills-explore-txt {
    margin: 0;
    margin-top: -390px;
    text-align: center;
    color: rgb(50, 100, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100px;
    font-style: italic;
    cursor: default;
}

.programming-txt {
    margin-top: 290px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 20%;
}

.programming-skills-box {
    background-color: whitesmoke;
    list-style: none;
    display: flex;
    justify-self: center;
    justify-content: center;
    gap: 70px;
    padding: 40px 0px;
    width: 60%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    border-radius: 30px;
    box-shadow: 0 0 5px 0px #000;
}

.html, 
.css, 
.javascript {
    padding: 10px;
    box-shadow: 0 0 7px 0px #000;
    border-radius: 15px;
    transition: 300ms;
    text-align: center;
    cursor: default;
    width: 155px;
    height: 175px;
}

#skills ul li img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    justify-self: center;
    margin-bottom: 10px;
}

#skills ul .javascript img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    justify-self: center;
    margin-bottom: 20px;
}

.html:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    box-shadow: 0 0 10px 0px red;
    color: red;
}

.css:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    box-shadow: 0 0 10px 0px rgb(50, 100, 255);
    color: rgb(50, 100, 255);
}

.javascript:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    box-shadow: 0 0 10px 0px yellow;
}

.tools-txt {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 20%;
}

.tools-box {
    background-color: whitesmoke;
    list-style: none;
    display: flex;
    justify-self: center;
    justify-content: center;
    gap: 70px;
    padding: 40px 0px;
    width: 60%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    border-radius: 30px;
    box-shadow: 0 0 5px 0px #000;
}

.git, 
.github {
    padding: 10px;
    box-shadow: 0 0 7px 0px #000;
    border-radius: 15px;
    transition: 300ms;
    text-align: center;
    cursor: default;
    width: 155px;
    height: 175px;
}

#skills ul .git svg, 
#skills ul .github svg {
    justify-self: center;
    margin-bottom: 20px;
}

#skills ul .github svg {
    margin-bottom: 30px;
}

.git:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    box-shadow: 0 0 10px 0px red;
    color: red;
}

.github:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    box-shadow: 0 0 10px 0px #000;
}

.skills-footer {
    margin-top: 30px;
    margin-bottom: 20px;
    justify-self: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    border: 1px solid #000;
    width: 71%;
    background-color: rgb(50, 100, 255);
    border: 1px solid #000;
    box-shadow: 5px 5px 0px 0px #000;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    cursor: default;
}

footer {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}