* {
    transition: 300ms;
}

body {
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
    height: 125px;
    background-color: whitesmoke;
    box-shadow: 0 0 5px 0px #000;
}

h1 {
    font-family: 'Bradley Hand ITC';
    font-size: 45px;
    font-style: italic;
    margin: 0;
    margin-top: 30px;
    margin-left: 40px;
    color: rgb(50, 100, 255);
    cursor: default;
}

sub {
    margin-left: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-style: italic;
    cursor: default;
}

nav {
    position: fixed;
    top: 35px;
    left: 570px;
}

.nav-options {
    display: inline-flex;
    gap: 25px;
    list-style: none;
}

.home, 
.about, 
.skills {
    color: #000;
    text-decoration: none;
    padding: 25px 50px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
}

.about {
    font-weight: bold;
}

.projects, 
.contact {
    color: #000;
    text-decoration: none;
    padding: 25px 38px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
}

.home:hover, 
.about:hover, 
.projects:hover, 
.skills:hover, 
.contact:hover {
    border: 1px solid gray;
    box-shadow: 7px 7px 5px 0px gray;
}

.my-links {
    position: fixed;
    top: 30px;
    right: 40px;
    display: inline-flex;
    gap: 10px;
    list-style: none;
}

.linkedin, 
.x, 
.instagram, 
.facebook, 
.github-link { 
    height: 30px;
    width: 30px;
    border-radius: 5px;
}

.main-box {
    width: auto;
    height: auto;
    padding: 240px 0px 0px 0px;
}

.main {
    width: 600px;
    height: auto;
    padding: 90px;
    margin: 0 auto 50px auto;
    border-radius: 30px;
    border: 3px solid #000;
    background-color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    cursor: default;
}

.main img {
    width: 175px;
    height: 175px;
    border-radius: 87.5px;
    border: 3px solid #000;
    display: block;
    margin: -180px auto 40px auto;
}

.main h2 {
    font-size: 30px;
}

.main p {
    font-size: 18px;
    line-height: 35px;
}

footer {
    width: 100%;
    bottom: 0;
    padding: 15px 0px 15px 0px;
    justify-self: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: #000;
    color: #fff;
}